---
# Caching Configuration Tasks

- name: Install Redis server
  ansible.builtin.package:
    name: "{{ wordpress_redis_package }}"
    state: present
    update_cache: "{{ wordpress_update_cache | bool }}"
  become: true
  when: wordpress_enable_redis | bool
  notify: Restart redis

- name: Install Memcached server
  ansible.builtin.package:
    name: "{{ wordpress_memcached_package }}"
    state: present
    update_cache: "{{ wordpress_update_cache | bool }}"
  become: true
  when: wordpress_enable_memcached | bool
  notify: Restart memcached

- name: Configure Redis server
  ansible.builtin.template:
    src: redis.conf.j2
    dest: "{{ '/etc/redis/redis.conf' if ansible_os_family == 'Debian' else '/etc/redis.conf' }}"
    owner: redis
    group: redis
    mode: '0640'
    backup: true
  become: true
  when: wordpress_enable_redis | bool
  notify: Restart redis

- name: Configure Memcached server
  ansible.builtin.template:
    src: memcached.conf.j2
    dest: "{{ '/etc/memcached.conf' if ansible_os_family == 'Debian' else '/etc/sysconfig/memcached' }}"
    owner: root
    group: root
    mode: '0644'
    backup: true
  become: true
  when: wordpress_enable_memcached | bool
  notify: Restart memcached

- name: Ensure Redis is started and enabled
  ansible.builtin.service:
    name: "{{ wordpress_redis_service }}"
    state: started
    enabled: true
  become: true
  when: wordpress_enable_redis | bool

- name: Ensure Memcached is started and enabled
  ansible.builtin.service:
    name: "{{ wordpress_memcached_service }}"
    state: started
    enabled: true
  become: true
  when: wordpress_enable_memcached | bool

- name: Test Redis connection
  ansible.builtin.command:
    cmd: redis-cli ping
  register: redis_ping
  changed_when: false
  when: wordpress_enable_redis | bool

- name: Display Redis status
  ansible.builtin.debug:
    msg: "Redis is running and responding to ping"
  when:
    - wordpress_enable_redis | bool
    - redis_ping.stdout == "PONG"

- name: Test Memcached connection
  ansible.builtin.shell: |
    echo "stats" | nc localhost 11211 | head -1
  register: memcached_stats
  changed_when: false
  when: wordpress_enable_memcached | bool
  ignore_errors: true

- name: Display Memcached status
  ansible.builtin.debug:
    msg: "Memcached is running and accessible"
  when:
    - wordpress_enable_memcached | bool
    - memcached_stats.stdout is defined
    - "'STAT' in memcached_stats.stdout"

- name: Configure Redis security
  ansible.builtin.blockinfile:
    path: "{{ '/etc/redis/redis.conf' if ansible_os_family == 'Debian' else '/etc/redis.conf' }}"
    marker: "# {mark} SECURITY CONFIGURATION"
    block: |
      # Security settings
      bind 127.0.0.1
      protected-mode yes
      {% if wordpress_redis_password %}
      requirepass {{ wordpress_redis_password }}
      {% endif %}
    backup: true
  become: true
  when: wordpress_enable_redis | bool
  notify: Restart redis

- name: Create Redis log directory
  ansible.builtin.file:
    path: /var/log/redis
    state: directory
    owner: redis
    group: redis
    mode: '0755'
  become: true
  when:
    - wordpress_enable_redis | bool
    - wordpress_enable_logging | bool

- name: Configure Redis logging
  ansible.builtin.lineinfile:
    path: "{{ '/etc/redis/redis.conf' if ansible_os_family == 'Debian' else '/etc/redis.conf' }}"
    regexp: '^logfile'
    line: 'logfile /var/log/redis/redis.log'
    backup: true
  become: true
  when:
    - wordpress_enable_redis | bool
    - wordpress_enable_logging | bool
  notify: Restart redis

- name: Configure Redis log rotation
  ansible.builtin.template:
    src: redis-logrotate.j2
    dest: /etc/logrotate.d/redis
    owner: root
    group: root
    mode: '0644'
  become: true
  when:
    - wordpress_enable_redis | bool
    - wordpress_enable_logging | bool
    - wordpress_logrotate_enabled | bool

- name: Create cache monitoring script
  ansible.builtin.template:
    src: cache-monitor.sh.j2
    dest: /usr/local/bin/cache-monitor.sh
    owner: root
    group: root
    mode: '0755'
  become: true
  when:
    - wordpress_enable_redis | bool or wordpress_enable_memcached | bool
    - wordpress_enable_logging | bool

- name: Schedule cache monitoring
  ansible.builtin.cron:
    name: "WordPress Cache Monitoring"
    minute: "*/5"
    job: "/usr/local/bin/cache-monitor.sh"
    user: root
    state: present
  become: true
  when:
    - wordpress_enable_redis | bool or wordpress_enable_memcached | bool
    - wordpress_enable_logging | bool

- name: Configure PHP OPcache
  ansible.builtin.template:
    src: opcache.ini.j2
    dest: >-
      {{ '/etc/php/' + wordpress_php_version +
      '/mods-available/opcache.ini'
      if ansible_os_family == 'Debian'
      else '/etc/php.d/10-opcache.ini' }}
    owner: root
    group: root
    mode: '0644'
    backup: true
  become: true
  when: wordpress_opcache_enable | bool
  notify: Restart php-fpm

- name: Enable PHP OPcache module (Debian/Ubuntu)
  ansible.builtin.command:
    cmd: "phpenmod -v {{ wordpress_php_version }} opcache"
  become: true
  when:
    - ansible_os_family == "Debian"
    - wordpress_opcache_enable | bool
  register: opcache_enable_result
  changed_when: opcache_enable_result.rc == 0
  notify: Restart php-fpm

- name: Create OPcache status page
  ansible.builtin.template:
    src: opcache-status.php.j2
    dest: "{{ wordpress_install_dir }}/opcache-status.php"
    owner: "{{ wordpress_system_user }}"
    group: "{{ wordpress_system_group }}"
    mode: '0644'
  become: true
  when:
    - wordpress_opcache_enable | bool
    - wordpress_debug | bool

- name: Configure cache warming script
  ansible.builtin.template:
    src: cache-warmup.sh.j2
    dest: /usr/local/bin/cache-warmup.sh
    owner: root
    group: root
    mode: '0755'
  become: true
  when: wordpress_enable_redis | bool or wordpress_enable_memcached | bool

- name: Schedule cache warming
  ansible.builtin.cron:
    name: "WordPress Cache Warmup"
    minute: "0"
    hour: "3"
    job: "/usr/local/bin/cache-warmup.sh"
    user: root
    state: present
  become: true
  when: wordpress_enable_redis | bool or wordpress_enable_memcached | bool
