---
# WordPress Enterprise - Security Handlers

- name: reload apparmor
  ansible.builtin.systemd:
    name: apparmor
    state: reloaded
  become: true
  when: ansible_os_family == "Debian"

- name: restart auditd
  ansible.builtin.systemd:
    name: auditd
    state: restarted
  become: true

- name: restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
  become: true

- name: restart yum-cron
  ansible.builtin.systemd:
    name: yum-cron
    state: restarted
    enabled: true
  become: true
  when: ansible_os_family == "RedHat"

- name: reboot system
  ansible.builtin.reboot:
    reboot_timeout: 600
    test_command: whoami
  become: true
  when: wordpress_allow_reboot | default(false)
