[client]
user = root
password = {{ wordpress_db_root_password }}
socket = {{ wordpress_db_socket }}

[mysql]
user = root
password = {{ wordpress_db_root_password }}
socket = {{ wordpress_db_socket }}

[mysqladmin]
user = root
password = {{ wordpress_db_root_password }}
socket = {{ wordpress_db_socket }}

[mysqldump]
user = root
password = {{ wordpress_db_root_password }}
socket = {{ wordpress_db_socket }}
